/* Спецификация */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #000;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  display: inline-block;
}

/* Стили */

.wrapper {
  width: 80rem;
  height: 47.6rem;
  margin: 0 auto;
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #000;
}

header {
  display: block;
  width: 100%;
  background-color: #0b3b54;
  padding: 2.4rem;
}

.navbar {
  display: flex;
}

.navbar a {
  color: #C9a920;
}

.navbar__link {
  padding-right: 1.2rem;
}

.navbar__link-brand {
  font-size: 2.4rem;
  font-weight: bold;
  padding-right: 4.8rem;
}

.navbar__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.navbar__items li {
  display: inline-block;
  font-size: 1.8rem;
}

main {
  display: block;
  width: 100%;
  padding: 2.4rem;
}

main h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.content {
  margin-top: 2.4rem;
}

.content__img {
  float: left;
}

.content img {
  width: 34rem;
  height: 27rem;
}

.content__text {
  float: right;
  width: 53.4%;
}

.content__text p {
  text-align: justify;
}

.content__text-subscribe {
  float: right;
  width: 49.2%;
  border: .1rem solid black;
  padding: 2.4rem 1.2rem;
  margin-bottom: 1.2rem;
  margin-left: 1.2rem;
}

.content__text-subscribe form {
  margin-top: 1.2rem;
}
.content__text-subscribe input[type="text"] {
  width: 100%;
  height: 2.4rem;
}

.content__text-subscribe input[type="submit"] {
  margin-top: 1.2rem;
}
